# Loading Data into Pandas

In [2]:
import pandas as pd
import os

In [3]:
df = pd.read_csv("pokemon_data.csv")
df.head()

#To read excel file
#df_xlsx = pd.read_excel("pokemon_data.xlsx")
#print(df.head())

#To read txt file
#df = pd.read_csv("pokemon_data.txt", delimeter = '/t') NB: the /t represents whatever was seperating your columns, could be xxx
#df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Reading Data in Pandas

In [4]:
### Read Headers
df.columns


### Read Each Column
#print(df['Name']) #or use print(df.Name)
# to get a certain number of data in each column eg. first 4
#print(df['Name'][0:5])
#To list out specific columns
#print(df[['Name', 'Type 1', 'HP']])


### Read Each Row
#print(df.iloc[1])
#To get multiple rows eg from index 1 to index 4
#print(df.iloc[1:5])

#to iterate rows that is to print out the content of each row one after the other
#for index, row in df.iterrows():
#    print(index, row)
#to print only 'Name' for each row
#for index, row in df.iterrows():
#    print(index, row['Name'])

#to print data of a particular type that is getting rows based on a specific condition
#df.loc[df['Type 1'] == "Fire"]  #prints out only data where Type 1 is equal to Fire
#df.loc[df['Type 1'] == "Grass"]  #prints out only data where Type 1 is equal to Grass   
df.loc[df['Type 2'] == "Poison"]  #prints out only data where Type 2 is equal to Poison 
    
###Read a specific location
#print(df.iloc[1,5]) #this will print out the value in the 2nd row and 4th column
#df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
53,48,Venonat,Bug,Poison,305,60,55,50,40,55,45,1,False
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
78,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False
79,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,405,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
181,167,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False
182,168,Ariados,Bug,Poison,390,70,90,70,60,60,40,2,False
227,211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
292,269,Dustox,Bug,Poison,385,60,50,70,50,90,65,3,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
604,544,Whirlipede,Bug,Poison,360,40,55,99,40,79,47,5,False
605,545,Scolipede,Bug,Poison,485,60,100,89,55,69,112,5,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

# Sorting/ Describing Data

### High Level description of your data (min, max, mean, std dev, etc.)

In [5]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### Sorting Values (Alphabetically, Numerically)

In [6]:
#Sort values by Name
df.sort_values(["Name"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [7]:
#Sort values by Name in descending order
df.sort_values(["Name"], ascending = False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False

In [8]:
#Sort values by Multiple columns in ascending order
df.sort_values(["Type 1", "HP"], ascending = True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False

In [9]:
#Sort Type 1 in ascending order and HP in descending order
df.sort_values(["Type 1", "HP"], ascending = [1, 0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False

# Making Changes to the DataFrame

### Adding a column

In [10]:
#Adding a column to the DataFrame of total of each row of HP to Speed
df['Total2'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

### Deleting a column

In [11]:
#Dropping/ Deleting a column
#df = df.drop(columns = "Total2")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

In [12]:
#Adding a column to the DataFrame of total of each row of HP to Speed using iloc
df['Total2'] = df.iloc[:, 5:11].sum(axis = 1)

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

In [13]:
#df = df.drop(columns = ['Total'])
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

### Summing Multiple Columns to Create new Column

In [14]:
df["Total"] = df.iloc[:, 4:10].sum(axis=1)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,591,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,750,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,970,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,1170,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,553,39,52,43,60,50,65,1,False,309

### Rearranging columns

In [15]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head()

,#,Name,Type 1,Type 2,Total2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,309,553,39,52,43,60,50,65,1

### Saving our Data (CSV, Excel, TXT, etc.)

In [18]:
#Saving file as CSV
df.to_csv("Modifiedcsv.csv", index = False)

#Saving file as excel
df.to_excel("Modified.xlsx", index = False)

#Saving file as TXT
df.to_csv("Modified.txt", index = False, sep = '/') #I have no idea why the seperator sep = '/t' is giving error

### Filtering Data (based on multiple conditions)

In [38]:
#Filtering data based on multiple conditions
#new_df = df.loc[(df['Type 1'] == "Grass") & (df['Type 2'] == "Poison") & (df['HP'] > 70)]

#Reset Index
#new_df.reset_index(drop = True, inplace = True) 
#reset_inxex will renumber the index
#drop = True will delete the old index
#inplace = True will store the value into the old variable so you dont always have to store it yourself

#Save as new csv
#new_df.to_csv("Filtered.csv")


#Filter out words that contain the word "Mega"
df.loc[df['Name'].str.contains("Mega")]

,#,Name,Type 1,Type 2,Total2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
3,3,VenusaurMega Venusaur,Grass,Poison,625,1170,80,100,123,122,120,80,1
7,6,CharizardMega Charizard X,Fire,Dragon,634,1168,78,130,111,130,85,100,1
8,6,CharizardMega Charizard Y,Fire,Flying,634,1168,78,104,78,159,115,100,1
12,9,BlastoiseMega Blastoise,Water,NaN,630,1182,79,103,120,135,115,78,1
19,15,BeedrillMega Beedrill,Bug,Poison,495,845,65,150,40,15,80,145,1
23,18,PidgeotMega Pidgeot,Normal,Flying,579,1037,83,80,80,135,80,121,1
71,65,AlakazamMega Alakazam,Psychic,NaN,590,1030,55,50,65,175,95,150,1
87,80,SlowbroMega Slowbro,Water,Psychic,590,1150,95,75,180,130,80,30,1
102,94,GengarMega Gengar,Ghost,Poison,600,1070,60,65,80,170,95,130,1
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,1080,105,125,100,60,100,100,1
137,127,PinsirMega Pinsir,Bug,Flying,600,1095,65,155,120,65,90,105,1
141,130,GyaradosMega Gyarados,Water,Dark,640,1199,95,155,109,70,130,81,1
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,1080,80,135,85,70,95,150,1
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,1430,106,190,100,154,100,130,1
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,1420,106,150,70,194,120,140,1
168,154,Meganium,Grass,NaN,525,970,80,82,100,83,100,80,2
196,181,AmpharosMega Ampharos,Electric,Dragon,610,1175,90,95,105,165,110,45,2
224,208,SteelixMega Steelix,Steel,Ground,610,1190,75,125,230,55,95,30,2
229,212,ScizorMega Scizor,Bug,Steel,600,1125,70,150,140,65,100,75,2
232,214,HeracrossMega Heracross,Bug,Fighting,600,1125,80,185,115,40,105,75,2
248,229,HoundoomMega Houndoom,Dark,Fire,600,1085,75,90,90,140,90,115,2
268,248,TyranitarMega Tyranitar,Rock,Dark,700,1329,100,164,150,95,120,71,2
275,254,SceptileMega Sceptile,Grass,Dragon,630,1115,70,110,75,145,85,145,3
279,257,BlazikenMega Blaziken,Fire,Fighting,630,1160,80,160,80,130,80,100,3
283,260,SwampertMega Swampert,Water,Ground,635,1200,100,150,110,95,110,70,3
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,1136,68,85,65,165,135,100,3
327,302,SableyeMega Sableye,Dark,Ghost,480,940,50,85,125,85,115,20,3
329,303,MawileMega Mawile,Steel,Fairy,480,910,50,105,125,55,95,50,3
333,306,AggronMega Aggron,Steel,NaN,630,1210,70,140,230,60,80,50,3
336,308,MedichamMega Medicham,Fighting,Psychic,510,920,60,100,85,80,85,100,3
339,310,ManectricMega Manectric,Electric,NaN,575,1015,70,75,80,135,80,135,3
349,319,SharpedoMega Sharpedo,Water,Dark,560,1015,70,140,70,110,65,105,3
354,323,CameruptMega Camerupt,Fire,Ground,560,1100,70,120,100,145,105,20,3
366,334,AltariaMega Altaria,Dragon,Fairy,590,1100,75,110,110,110,105,80,3
387,354,BanetteMega Banette,Ghost,NaN,555,1035,64,165,75,93,83,75,3
393,359,AbsolMega Absol,Dark,NaN,565,1015,65,150,60,115,60,115,3
397,362,GlalieMega Glalie,Ice,NaN,580,1060,80,120,80,120,80,100,3
409,373,SalamenceMega Salamence,Dragon,Flying,700,1280,95,145,130,120,90,120,3
413,376,MetagrossMega Metagross,Steel,Psychic,700,1290,80,145,150,105,110,110,3
418,380,LatiasMega Latias,Dragon,Psychic,700,1290,80,100,120,140,150,110,3
420,381,LatiosMega Latios,Dragon,Psychic,700,1290,80,130,100,160,120,110,3
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,1445,105,180,100,180,100,115,3
476,428,LopunnyMega Lopunny,Normal,Fighting,580,1025,65,136,94,54,96,135,4
494,445,GarchompMega Garchomp,Dragon,Ground,700,1308,108,170,115,120,95,92,4
498,448,LucarioMega Lucario,Fighting,Steel,625,1138,70,145,88,140,70,112,4
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,1158,90,132,105,132,105,30,4
527,475,GalladeMega Gallade,Psychic,Fighting,618,1126,68,165,95,65,115,110,4
591,531,AudinoMega Audino,Normal,Fairy,545,1040,103,60,126,80,126,50,5
796,719,DiancieMega Diancie,Rock,Fairy,700,1290,50,160,110,160,110,110,6

In [39]:
#Filter out words that doesnot contain the word "Mega"
df.loc[~df['Name'].str.contains("Mega")]

,#,Name,Type 1,Type 2,Total2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,970,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,309,553,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,405,730,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,1105,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,600,1150,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,600,1130,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,680,1280,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,600,1130,80,110,120,130,90,70,6

### Regex Filtering (filter based on textual patterns)

In [48]:
#Filter out words using regular expression
#df.loc[df['Type 1'].str.contains("Fire|Grass", regex=True)]
#df.loc[df['Type 1'].str.contains("fire|grass", regex=True)] #this is lover case and would only out put the words that are in lower case

import re
df.loc[df['Type 1'].str.contains("fire|grass", flags=re.I, regex=True)]
#flags = re.I is used to ignore the word case
#regex=True shows that it has a regular expression (|)

,#,Name,Type 1,Type 2,Total2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,309,553,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,666,62,50,58,73,54,72,6
736,668,Pyroar,Fire,Normal,507,908,86,68,72,109,66,106,6
740,672,Skiddo,Grass,NaN,350,648,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,531,994,123,100,62,97,81,68,6
799,721,Volcanion,Fire,Water,600,1130,80,110,120,130,90,70,6

In [51]:
#df.loc[df['Name'].str.contains("pi[a-z]*", flags=re.I, regex=True)]
#the regex expression means that it should get names that contains pi and any other character 
df.loc[df['Name'].str.contains("^pi[a-z]*", flags=re.I, regex=True)]
#the regex expression means that it should get names that start with pi and contains any character 
#make sure re is imported

,#,Name,Type 1,Type 2,Total2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
20,16,Pidgey,Normal,Flying,251,446,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,349,627,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,479,857,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,579,1037,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,320,550,35,55,40,50,50,90,1
136,127,Pinsir,Bug,NaN,500,915,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,600,1095,65,155,120,65,90,105,1
186,172,Pichu,Electric,NaN,205,350,20,40,15,35,35,60,2
219,204,Pineco,Bug,NaN,290,565,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,450,850,100,100,80,60,60,50,2
438,393,Piplup,Water,NaN,314,588,53,51,53,61,56,40,4
558,499,Pignite,Fire,Fighting,418,781,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,264,485,50,55,50,36,30,43,5

### Conditional Changes

In [94]:
#changing fire to flamer
#df.loc[df['Type 1'] == "Fire", "Type 1"] = "Flamer"
#df.loc[df['Type 1'] == "Flamer", "Type 1"] = "Fire"
#df

#this will set Generation to consume for every Fire condition
#df.loc[df['Type 1'] == "Fire", "Generation"] = "Consume"

#to reload the data to the original
#df = pd.read_csv("modifiedcsv.csv")
#df

#to delete a column
#df = df.drop(columns = "Total")
#df
#df.to_csv("Modified2.csv")


#to modify multiple values at a time based on a set condition
#df.loc[df['Total2'] > 500, ["Speed", "Generation"]] = "TEST VALUE"
#df

#to change into different values
#df.loc[df['Total2'] > 500, ["Speed", "Generation"]] = "Test 1", "Test 2"
#df

,#,Name,Type 1,Type 2,Total2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,Test 1,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,Test 1,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,Test 1,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,Test 1,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,Test 1,Test 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,Test 1,Test 2

### Aggregate Statistics using Groupby (Sum, Mean, Counting)

In [136]:
df = pd.read_csv("modified.csv")

#Here, i'm trying to replace Total2 with Total but it has not worked yet
#df.rename(columns = {'Total2': ["Total"]})


#To group by a particular statistics
#df.groupby(['Type 1']).mean().sort_values('Defense', ascending = False)
#df.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)
#df.groupby(['Type 1']).mean().sort_values('HP', ascending = False)
#you can groupby mean, sum or count

df['count'] = 1
#df.groupby(['Type 1']).count()['count']

#Grouping by multiple parameters
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

### Working with large amounts of data (setting chunksize)